/**** Nav items och icon och title i header och fixa nav-items hover och vissa i Mobile-Small Tablet storlek "SVG för hamburgar-icon"****/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.center-section {
  display: flex;
  justify-content: center;
}

.left-section {
  display: flex;
  align-items: center;
}
.nav-icon {
  width: 40px; /* Anpassa bildens bredd */
  height: 40px; /* Anpassa bildens höjd */
  margin-right: 10px;
}

.nav-icon {
  margin-right: 10px;
}

.nav-title {
  margin: 0;
  font-size: 20px;
}

.right-section {
  display: flex;
  align-items: center;
}

.nav-items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-items li {
  margin: 0 10px;
}

.nav-items a {
  text-decoration: none;
  color: var(--clr-accent);
  line-height: 0.9;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.nav-items a:hover {
  &:hover,
  &:focus-visible {
    text-decoration: none;
    background-color: var(--clr-accent);
    color: white;
    font-weight:  var(--fw-700);
  }
  /*border-radius: 5px;*/
}

.menu-icon {
  font-size: 24px;
  display: none;
  cursor: pointer;
}
.menu-icon svg {
  fill: var(--clr-accent);
  width: 24px;
  height: 24px;
}
.menu-icon svg:hover,
.menu-icon svg:focus-visible {
    background-color: var(--clr-accent);
    fill: white; /*byta färg vit för hambrgare icon**/
}

 /* Small Tablets */ 
@media (min-width: 321px)and (max-width: 767px) {
   
  .cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding-top: 6rem;
    padding-bottom: 4rem;
   }

  .images {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: 10px solid white;
    border-radius: 0px;
   }

  .card-footer{
    text-align: end;
    grid-template-rows: auto;
     img {
         width: 32px;
         height: 32px;
         display: flex;
         pointer-events: initial;
         height: auto;
       }
       h6 {
   
        font-weight: var(--fw-700);
       }
    }

  .card {
    background-color: rgb(251, 248, 248);
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: start;    
    grid-column: span 1;
      h3 {  
        font-size: clamp(1.2rem, 2vw, 1.5rem); 
         margin-bottom: 8px;
       }
     
      p { 
        font-size: clamp(1rem, 1.5vw, 1.2rem); 
         color: #0f0101; 
       }
       img {
        grid-column: span 4;
        max-width: 100%;
    }
}  
.nav-items {
  display: none; /* Göm menyn på mindre skärmar */
  flex-direction: column;
  position: absolute; 
  text-align: end;
  justify-content: space-between;
  text-decoration: none;
  background-color: rgb(201, 203, 206); /*Grey färy på mindre skärmar */
  transition: background-color 0.3s ease;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  gap: 0.5rem;
}

#menu-icon {
  fill: rgb(87, 143, 84);
  width: 34px;
  height: 34px;
  display: block;
  cursor: pointer;
 
} 
}
 
/* Mobile */
@media (min-width: 120px)and (max-width: 375px) {

    .cards-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        padding-top: 6rem;
        padding-bottom: 4rem;
      }

    .images {
        margin-top: 3rem;
        margin-bottom: 3rem;
        border: 10px solid white;
        border-radius: 0px;
       }

    .card-footer{
        text-align: end;
        grid-template-rows: auto;
         img {
             width: 32px;
             height: 32px;
             display: flex;
             pointer-events: initial;
             height: auto;
         }
       }

    .card {
        background-color: rgb(251, 248, 248);
        padding: 6px;
        border: 1px solid #ddd;
        border-radius: 0px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        text-align: start;    
        grid-column: span 1;
       
          h3 {  
             font-size: clamp(1.2rem, 2vw, 1.5rem); 
              margin-bottom: 8px;
         }
         
          p { 
              font-size: clamp(1rem, 1.5vw, 1.2rem); 
              color: #0f0101; 
         }
     }
    
    #menu-icon {
      width: 34px;
      height: 34px;
      display: block;
      cursor: pointer;
    } 
    .header {
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
    }
    .nav-items {
      display: none; /* Göm menyn på mindre skärmar */
      flex-direction: column;
      position: absolute; 
      text-align: end;
      justify-content: space-between;
      text-decoration: none;
      background-color: rgb(201, 203, 206); /*Grey färy på mindre skärmar */
      transition: background-color 0.3s ease;
      padding: 5px;
      margin: 5px;
      border-radius: 5px;
      gap: 0.5rem;
  } 
}
